.job-family {
  &-title {
    color: #fc6d26;
  }

  &-blurb {
    margin: 0px 30px;
  }

  &-list {
    list-style: none;
    padding-left: 0;
  }

  &-card-group {
    flex-flow: row wrap;
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: center;
  }

  &-card {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #fff;
    flex: 1 0 30%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }

  &-card-body {
    padding: 30px;
  }

  &-card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
  }
}
