---
layout: handbook-page-toc
title: "Engineering Career Framework: Senior"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Development Department Competencies: Senior
 
**Seniors at GitLab are expected to exhibit the following competencies:**

* [Senior Leadership Competencies](#senior-leadership-competencies)
* [Senior Technical Competencies](#senior-technical-competencies)
* [Senior Values Alignment](#senior-values-alignment)

---

### Senior Leadership Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/development/_development_senior_leadership_competency.erb") %>
  
### Senior Technical Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/development/_development_senior_technical_competency.erb") %>

### Senior Values Alignment

<%= partial("handbook/engineering/career-development/matrix/engineering/development/_development_senior_values_competency.erb") %>
