---
layout: default
title: GitLab Pricing
description: "See the options to self-host GitLab or use GitLab.com."
canonical_path: "/pricing/"
suppress_header: true
extra_css:
  - pricing.css
  - experiments.css
---
.pricing-page
  .container
    <script data-cookieconsent="ignore" crossorigin="anonymous" src="https://unpkg.com/launchdarkly-js-client-sdk@2"></script>
    <script src="/javascripts/run-experiment.js" type="text/javascript" data-cookieconsent="ignore"></script>
    %script{type: "text/javascript", "data-cookieconsent": "ignore"}
      :plain
        runExperiment('7969', 'pricing-7969-b', null, null, 'production');
    %div#experiment7969.experiment-outer-wrapper
      %span.loading-experiment 
      = partial "/experiments/7969-control"
      = partial "/experiments/7969-test"

      - data.pricing.plans.each do |plan|
        = partial 'modal', locals: plan_modal_options(plan)
      = partial 'modal', locals: compare_features_modal_options
